{{ define "blog" }}
<!DOCTYPE html>
<html lang="en">
    {{ template "head" .}}
    <body class="blog-body">
        <header>
            <h1><a href="{{.Path}}">{{.Name}}</a></h1>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                </ul>
            </nav>
        </header>
        <main>
            {{ .Content }}
        </main>
    </body>
</html>
{{ end }}
