{{define "footer"}}
    <footer>
        <nav aria-label="footer">
            <a href="https://github.com/mmatongo/site" target="_blank" rel="noopener noreferrer">View source</a>
            <a href="/rss.xml">RSS</a>
            <a href="/sitemap.xml">Sitemap</a>
        </nav>
    </footer>
{{end}}
