{{define "footer"}}
    <footer>
        <nav aria-label="footer">
            <a href="https://github.com/mmatongo/site" target="_blank" rel="noopener noreferrer">Site source</a>
            <hr class="inline-hr">
            <a href="/rss.xml" target="_blank" rel="noopener noreferrer">RSS</a>
            <hr class="inline-hr">
            <a href="/sitemap.xml" target="_blank" rel="noopener noreferrer">Sitemap</a>
        </nav>
    </footer>
{{end}}
